[submodule "backend"]
	path = backend
	url = https://github.com/trungnhann/ticket-booking-backend.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/trungnhann/ticket-booking-frontend.git
